@import "tailwindcss";

@theme {
  --color-primary: #79b6ff;
  --color-secondary: #e7f0ff;
  --color-accent: #f0cc6a;
}

:root {
  font-family: 'Outfit', Inter, system-ui, sans-serif;
  line-height: 1.4;
  font-weight: 400;
  font-size: 14px; /* Reduced from default 16px */

  color-scheme: light;
  color: #1c2f49;
  background-color: #fbfbf7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}
